{% extends 'base.html' %}
{% load static %}
{% block title %}ساخت تایم خالی{% endblock %}
{% block content %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create_doctor.css' %}">
    {% endblock %}
    <div class="container">
        <h1 class="page-title">ایجاد نوبت جدید دکتر 
            <a href="{% url 'availabletime_doctor' doctor.id %}">
                {{ doctor.first_name }} {{ doctor.last_name }}
            </a>
        </h1>

        <div class="message-container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="id_date">Date:</label>
                    <input type="date" name="date" required="" id="id_date">
                </p>
                <p>
                    <label for="id_start_time">Start time:</label>
                    <input type="time" name="start_time" required="" id="id_start_time">
                </p>
                <p>
                    <label for="id_end_time">End Time:</label>
                    <input type="time" name="end_time" required="" id="id_end_time">
                </p>
                <button type="submit" class="submit-btn">ایجاد نوبت</button>
            </form>
        </div>
    </div>

    <script>
        // ناپدید شدن پیام‌ها بعد از ۳ ثانیه
        document.querySelectorAll('.messages li').forEach(function(message) {
            setTimeout(function() {
                message.style.opacity = '0'; // به تدریج ناپدید می‌شود
                setTimeout(function() {
                    message.remove(); // حذف کامل پیام از DOM
                }, 1000); // زمان تطابق با transition
            }, 3000); // 3 ثانیه برای نمایش
        });
    </script>
{% endblock %}
