{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}صفحه اصلی{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}"}>
</head>
<body dir="rtl">
    <header>
    <a href="{% url 'home' %}">
        <h1>سیستم نوبت دهی آنلاین</h1>
    </a>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'viewdoctor' %}">نمایش دکترها</a></li>
                <li><a href="{% url 'createdoctor' %}">ساخت دکتر</a></li>
                <li><a href="{% url 'createspecialize' %}">تخصص جدید</a></li>
            </ul>
        </nav>
            <a href="{% url 'logout' %}">خروج</a>
        {% endif %}
    {% if not user.is_authenticated %}
        <a href="{% url 'login' %}">ورود</a>
        <a href="{% url 'create_patient' %}">ثبت نام</a>
    {% endif %}

    </header>

    <main>
        {% block content %}
        <!-- محتوا در اینجا قرار می‌گیرد -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024  تمام حقوق محفوظ است.</p>
    </footer>
</body>
</html>
