{% load static %}
{% load patient_tags %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}صفحه اصلی{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body dir="rtl">
    <header>
        <a href="{% url 'home' %}">
            <h1>سیستم نوبت دهی آنلاین</h1>
        </a>

        {% if user.is_authenticated %}
        <nav>
            {% if user.is_staff %}
                <ul>
                    <li><a href="{% url 'viewdoctor' %}">نمایش دکترها</a></li>
                    <li><a href="{% url 'createdoctor' %}">ساخت دکتر</a></li>
                    <li><a href="{% url 'createspecialize' %}">تخصص جدید</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="{%  url 'patient_add_balance' %}" 
                        style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 5px; border: 1px solid #007bff; cursor: pointer;">
                        موجودی  {% patient_balance user %}
                     </a>
                     </li>
                    <li><a href="{%  url 'patient_reserved_times' %}" 
                        style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 5px; border: 1px solid #007bff; cursor: pointer;">
                        زمان های رزرو شده
                     </a>
                     </li>
                    <li><a href="{% url 'patient_profile' %}" 
                        style="display: inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 5px; border: 1px solid #007bff; cursor: pointer;">
                        پروفایل من
                     </a></li>
                </ul>
            {% endif %}
        </nav>
        <a href="{% url 'logout' %}">خروج</a>
        {% else %}
        <nav>
            <ul>
                <li><a href="{% url 'login' %}">ورود</a></li>
                <li><a href="{% url 'create_patient' %}">ثبت نام</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 تمام حقوق محفوظ است.</p>
    </footer>
</body>
</html>
