{% load static %}
{% load patient_tags %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}صفحه اصلی{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body dir="rtl">
    <header>
        <a href="{% url 'home' %}">
            <h1>سیستم نوبت دهی آنلاین</h1>
        </a>

        <nav>
            <ul>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'viewdoctor' %}" class="button">مدیریت دکترها</a></li>
                    <li><a href="{% url 'createdoctor' %}" class="button">ساخت دکتر</a></li>
                    <li><a href="{% url 'createspecialize' %}" class="button">تخصص جدید</a></li>
                {% else %}
                    <li>
                        <a href="{%  url 'patient_add_balance' %}" class="button">موجودی : {% patient_balance user %}</a>
                    </li>
                    <li>
                        <a href="{%  url 'patient_reserved_times' %}" class="button">زمان های رزرو شده</a>
                    </li>
                    <li>
                        <a href="{% url 'patient_profile' %}" class="button">پروفایل من</a>
                    </li>
                {% endif %}
                <li><a href="{% url 'logout' %}" class="button-exit">خروج</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" class="button-exit">ورود</a></li>
                <li><a href="{% url 'create_patient' %}" class="button-exit">ثبت نام</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% comment %} <footer>
        <p>&copy; 2024 تمام حقوق محفوظ است.</p>
    </footer> {% endcomment %}
</body>
</html>
