{% extends 'base.html' %}
{% block content %}
<body>
<style>
/* تنظیمات اصلی بدون تغییر در base.html */
.doctor-profile {
    width: 100%;
    max-width: 800px;
    min-height: 70vh; /* حداقل ارتفاع به 70 درصد صفحه تنظیم شده */
    margin: 50px auto; /* فاصله از بالای صفحه */
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header, .contact-info, .about-doctor {
    margin-bottom: 20px;
}

.status {
    padding: 10px;
    border-radius: 5px;
}

.status.active {
    display: inline-block;
    background-color: #2ecc71;
    color: white;
}

.status.not-active {
    display: inline-block;
    background-color: #e74c3c;
    color: white;
}

.visit-cost {
    display: flex; /* برای قرار گرفتن المان‌ها در یک خط */
    align-items: center; /* ترازبندی عمودی المان‌ها در یک خط */
    gap: 10px; /* فاصله بین متن و دکمه */
}

.visit-cost p {
    margin: 0; /* حذف حاشیه پیش‌فرض پاراگراف برای تراز بهتر */
}

.visit-cost button {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.visit-cost button:hover {
    background-color: #2980b9;
}

</style>
    <div class="doctor-profile">
        <div class="header">
            <h1 class="doctor-name">{{ doctors.first_name }} {{ doctors.last_name }}</h1>
            <p class="specialization"><strong>تخصص:</strong> {{ doctors.specializations }}</p>
        </div>

        <div class="contact-info">
            <p><strong>شماره تماس:</strong> {{ doctors.phone }}</p>
            <p><strong>آدرس مطب:</strong> {{ doctors.clinic_address }}</p>
            <p><strong>شماره نظام پزشکی:</strong> {{ doctors.license_number }} </p>
        </div>

        <div class="about-doctor">
            <h2>درباره دکتر</h2>
            <p>{{ doctors.biography }}</p>
        </div>

        <div class="doctor-status">
            {% if doctors.is_active %}
                <p class="status active">دکتر در حال حاضر در مطب هستند</p>
            {% else %}
                <p class="status not-active">دکتر در حال حاضر در مطب نیستند</p>
            {% endif %}
        </div>

        <div class="visit-cost">
            <p><strong>هزینه ویزیت:</strong> {{ doctors.visit_cost }} ریال</p>
            <button>نوبت دهی</button>
        </div>
    </div>
</body>
{% endblock %}
