{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/detail_doctor.css' %}">
    {% endblock %}
    <div class="doctor-profile">
        <div class="header">
            <h1 class="doctor-name">{{ doctors.first_name }} {{ doctors.last_name }}</h1>
            <p class="specialization"><strong>تخصص:</strong> {{ doctors.specializations }}</p>
        </div>

        <div class="contact-info">
            <p><strong>شماره تماس:</strong> {{ doctors.phone }}</p>
            <p><strong>آدرس مطب:</strong> {{ doctors.clinic_address }}</p>
            <p><strong>شماره نظام پزشکی:</strong> {{ doctors.license_number }} </p>
        </div>

        <div class="about-doctor">
            <h2>درباره دکتر</h2>
            <p>{{ doctors.biography }}</p>
        </div>

        <div class="doctor-status">
            {% if doctors.is_active %}
                {% comment %} <p class="status active">دکتر در حال حاضر در مطب هستند</p> {% endcomment %}
                <p class="status active">دکتر در حال حاضر پذیرش دارد</p>
            {% else %}
                <p class="status not-active">دکتر در حال حاضر پذیرش ندارد</p>
            {% endif %}
        </div>

        <div class="visit-cost">
            <p><strong>هزینه ویزیت:</strong> {{ doctors.visit_cost }} ریال</p>
            <a href="{% url 'availabletime_doctor' doctors.pk %}">نوبت دهی</a>
        </div>
    </div>
</body>
{% endblock %}
