{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="message-container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="پیدا کردن دکتر بر اساس تخصص یا نام دکتر" value="{{ search_query }}">
        <button type="submit" class="button" style="font-size: 13px;">جست و جو</button>
    </form>
    <br>
<div class="doctor-container">
    
    {% for doctor in doctors %}
        <a href="{% url 'detail_doctor' doctor.id %}" class="doctor-card" style="text-decoration:none">
            <img alt="{{ doctor.first_name }}" class="doctor-image" height="50" src="{{ doctor.image.url }}"
                 width="50">
            <span class="doctor-name">{{ doctor.first_name }} {{ doctor.last_name }} - {{doctor.specializations.title}}</span>
        </a>
    {% endfor %}
</div>

<script>
    // انتخاب پیام‌ها
    document.querySelectorAll('.messages li').forEach(function(message) {
        // ناپدید شدن پیام‌ها بعد از ۳ ثانیه
        setTimeout(function() {
            message.style.opacity = '0'; // به تدریج ناپدید می‌شود
            setTimeout(function() {
                message.remove(); // حذف کامل پیام از DOM
            }, 1000); // زمان تطابق با transition
        }, 3000); // 3 ثانیه برای نمایش
    });
</script>
{% endblock %}