{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>

    <div class="login-container">
        <div class="message-container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}
            
            <label for="username">Username</label>
            {{ form.username }}

            <label for="password">Password</label>
            {{ form.password }}

            <button type="submit">Login</button>
            <a href="{% url 'forgot_password' %}">forget password</a>
        </form>


    </div>
    

</body>
</html>
<script>
    // انتخاب پیام‌ها
    document.querySelectorAll('.messages li').forEach(function(message) {
        // ناپدید شدن پیام‌ها بعد از ۳ ثانیه
        setTimeout(function() {
            message.style.opacity = '0'; // به تدریج ناپدید می‌شود
            setTimeout(function() {
                message.remove(); // حذف کامل پیام از DOM
            }, 1000); // زمان تطابق با transition
        }, 3000); // 3 ثانیه برای نمایش
    });
</script>
{% endblock %}

