{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/edit_doctor.css' %}">
    {% endblock %}
    <div class="container">
        <h1 class="page-title">ویرایش بیمار</h1>

        <div class="message-container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <p>نام</p>
                {{ user_form.first_name }}
                <p>نام خانوادگی</p>
                {{ user_form.last_name }}
                <p>ایمیل</p>
                {{ user_form.email }}
                <p>شماره موبایل</p>
                {{ patient_form.phone }}

                <br>
                <button type="submit" class="submit-btn">ویرایش بیمار</button>
            </form>
        </div>
    </div>

    <script>
        document.querySelectorAll('.messages li').forEach(function(message) {
            setTimeout(function() {
                message.style.opacity = '0'; // به تدریج ناپدید می‌شود
                setTimeout(function() {
                    message.remove(); // حذف کامل پیام از DOM
                }, 1000); // زمان تطابق با transition
            }, 3000); // 3 ثانیه برای نمایش
        });
    </script>
{% endblock %}
