{% extends 'base.html' %}
{% load patient_tags %}

{% load static %}
{% block title %}تایم های رزرو شده{% endblock %}
{% block content %}

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/availabletime_doctor.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    {% endblock %}


    <div class="container">
        <h1>زمان های رزرو شده برای شما</h1>
        <div class="message-container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% if availabletimes %}
            {% for time in availabletimes %}
                <div class="available-time">
                    <div class="day">{% date_format time.date %}</div>
                    <div class="time">{% time_format time.end_time %} - {% time_format time.start_time %}</div>

                    <div class="patient-name">
                        <a href="{% url 'detail_doctor' time.doctor.id %}">
                            {{ time.doctor.first_name }} {{ time.doctor.last_name }}
                        </a>
                    </div>
                    <div class="actions">
                        <a href="{% url "patient_delete_reserve_time" time.id 1 %}" class="button-exit">حذف</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>زمانی برای نمایش وجود ندارد.</p>
        {% endif %}

        <br>
        <div class="pagination">
            {% if availabletimes.has_previous %}
                <a href="?page={{availabletimes.previous_page_number}}" class="prev" aria-label="Previous">❮</a>
            {% endif %}

            {% for i in availabletimes.paginator.page_range %}
                {% if page_i == i %}
                    <a class="active" href="?page={{i}}">{{i}}</a>
                {% else %}
                    <a class="" href="?page={{i}}">{{i}}</a>
                {% endif %}
            {% endfor %}

            {% if availabletimes.has_next %}
                <a href="?page={{availabletimes.next_page_number}}" class="next" aria-label="Next">❯</a>
            {% endif %}
        </div>


    </div>
    
    <script>
        // انتخاب پیام‌ها
        document.querySelectorAll('.messages li').forEach(function(message) {
            // ناپدید شدن پیام‌ها بعد از ۳ ثانیه
            setTimeout(function() {
                message.style.opacity = '0'; // به تدریج ناپدید می‌شود
                setTimeout(function() {
                    message.remove(); // حذف کامل پیام از DOM
                }, 1000); // زمان تطابق با transition
            }, 5000); // 3 ثانیه برای نمایش
        });
    </script>
{% endblock %}
