{% extends 'base.html' %}
{% load static %}
{% load patient_tags %}

{% block title %}پروفایل بیمار{% endblock %}
{% block content %}
<body>

    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/detail_doctor.css' %}">
    {% endblock %}
    <div class="message-container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="doctor-profile">
        <div class="header">
            <h1 class="doctor-name">{{ patient.user.first_name }} {{ patient.user.last_name }}</h1>
            <p class="specialization"><strong>نام کاربری:</strong> {{ patient.user.username }}</p>
        </div>

        <div class="contact-info">
            <p><strong>ایمیل:</strong> {{ patient.user.email }}</p>
            <p><strong>شماره تلفن:</strong> {{ patient.phone }}</p>
            <p><strong>موجودی:</strong> {{ patient.balance }} </p>
        </div>

        
        <a href="{% url 'change_password' %}" class="button">تغییر رمز عبور</a>
        <a href="{% url 'edit_patient_profile' %}" class="button">ویرایش پروفایل</a>
        <a href="{% url 'logout' %}" class="button-exit" style="padding: 10px 15px;" >خروج</a>

    </div>
</body>

<script>
    document.querySelectorAll('.messages li').forEach(function(message) {
        setTimeout(function() {
            message.style.opacity = '0';
            setTimeout(function() {
                message.remove();
            }, 1000);
        }, 3000);
    });
</script>
{% endblock %}

