{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پروفایل بیمار</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px;">

    <header style="background-color: #007bff; color: white; padding: 15px 0; text-align: center;">
        <h1 style="margin: 0;">پروفایل بیمار</h1>
    </header>

    <main style="max-width: 800px; margin: 20px auto; padding: 20px; background: white; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        

        <h2><strong>نام کاربری: </strong> {{ patient.user.username }}</h2>
        <h2><strong>نام: </strong> {{ patient.user.first_name }}</h2>
        <h2><strong>نام خانوادگی: </strong>{{ patient.user.last_name }}</h2>
        <h2><strong>ایمیل: </strong> {{ patient.user.email }}</h2>
        <h2><strong>موجودی: </strong> {{ patient.balance }}</h2>
        <h2><strong>شماره تلفن: </strong> {{ patient.phone }}</h2>

        <a href="{% url 'logout' %}" 
           style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: #dc3545; text-align: center; text-decoration: none; border-radius: 5px; border: 1px solid #dc3545; cursor: pointer;">
           خروج
        </a>

        <a href="{% url 'patient_profile' %}" 
           style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 5px; border: 1px solid #007bff; cursor: pointer; margin-left: 10px;">
            تغییر رمز عبور
        </a>
        <a href="{% url 'edit_patient_profile' %}" 
        style="display: inline-block; padding: 10px 20px; font-size: 16px; color: white; background-color: #007bff; text-align: center; text-decoration: none; border-radius: 5px; border: 1px solid #007bff; cursor: pointer; margin-left: 10px;">
    ویرایش پروفایل
                     </a>
    </main>

</body>
</html>
{% endblock %}
