{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/create_doctor.css' %}">
    {% endblock %}
    <div class="container">
        <h1 class="page-title">ساخت دکتر</h1>

        <div class="message-container">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ forms.as_p }}
                <button type="submit" class="submit-btn">ساخت دکتر</button>
            </form>
        </div>
    </div>

<script src="{% static 'js/message.js' %}"></script>
{% endblock %}
