{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>تخصص جدید</h1>
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}" id="message-{{ forloop.counter }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ forms.as_p }}
            <button type="submit">تخصص جدید</button>
        </form>
    </div>
</div>
<script>
    // انتخاب پیام‌ها
    document.querySelectorAll('.messages li').forEach(function(message) {
        // ناپدید شدن پیام‌ها بعد از ۳ ثانیه
        setTimeout(function() {
            message.style.opacity = '0'; // به تدریج ناپدید می‌شود
            setTimeout(function() {
                message.remove(); // حذف کامل پیام از DOM
            }, 1000); // زمان تطابق با transition
        }, 3000); // 3 ثانیه برای نمایش
    });
</script>
{% endblock %}
